{{camera-distribution forces=controller.orderedForces class="camera-distribution"}}

<div class="panel">

<h2>
	Bloques
	<a {{action 'addForce'}}>+</a>
</h2>	

{{#sortable-group tagName="ul" onChange="reorderItems" as |group|}}
  {{#each controller.orderedForces as |force|}}
    {{#sortable-item tagName="li" model=force group=group handle=".handle"}}
    	{{partial 'partials/force'}}
    	<span class="handle">&varr;</span>
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}

</div>